html,
body {
  height: 100%;
  
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: orange;
}

.form-signin {
  width: 100%;
  max-width: 630px;
  padding: 15px;
  margin: auto;
  transform: rotate(-5deg);
}

.form-signin .checkbox {
  font-weight: 800;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 100;
  border-top-right-radius: 100;
}

#f1 {
  background: radial-gradient(red,black);
  width: 100%;
}

#f1 > p {
  color: white;
}

.btn-primary {
    background-color: red;
}

#head1 {
    background: linear-gradient(green,yellow);
    width: 100%;
    height: 150px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24pt;
}
