#gridC {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto auto;
    
}

#h {
    background: purple;
    color: white;
    text-align: center;
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    
}

#mh {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    animation-name: walk;
    animation-duration: 2s;
    

}

@keyframes walk {
    0% {color: brown; top: 0px; left: 100px;}
    50% {left: 200px; top: -150px;}
    100% {left: 300px; top: 0px; color: black;}
}

#sidebar {
    background: aquamarine;
    color: white;
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    display: flex;
    flex-direction: column;
}



#b1:hover {
    filter: opacity(50%);
}



#b2:hover {
    filter: sepia(50%);
}

#content1 {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    background: blue;
    color: white;
   
}


#content2 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    background: blue;
    color: white;
}


#content3 {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    background: blue;
    color: white;
    
    
    
}

#content3 > ol:hover {
    transform: scale(1.25,1.25);
    
}

#content3:hover {
    transform: rotate(-5deg);

}


#ft {
    grid-column: 1 / 4;
    grid-row: 4 / 5;
    background: purple;
    color: white;
    text-align: left;
}