body {
    background: radial-gradient(red,black);
    
}

a {
    font-size: larger;
    justify-content: center;
    color: white;
    display: flex;
    padding: 20px;
}

.n1 {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    
}

h1 {
    text-align: center;
    font-size: 36pt;
}

p {
    color: white;
    font-size: 24pt;
}

#albums {
    color: beige;
}

#f1 {
    
    top: 580px;
    position: fixed;
    color: white;
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    width: 100%;
}

#rocket:hover {
    
    animation: rocketRide 4s ease 1 normal;
}

@keyframes rocketRide {
    0% {transform: rotate(45deg);
        opacity: 100%;}
    50% {opacity: 50%;}
    100% {opacity: 0%;}
}

#t1 {
    border: 10px;
    border-style: ridge;
    color:skyblue;
    padding: 10px;
}

td {
    padding: 10px;
}

#contactUs {
    
    align-items:center;
    
}

label {
    color: white;
}

#Ace {
    color:skyblue;
}

#Vinnie {
    color: gold;
}

#Bruce {
    color: violet;
}

#Tommy {
    color: silver;
}

#cu, #welcome {
    background-color: beige;
}
@media screen and (max-width: 850px) {
    body {
        width: 100%;
    }

   
    
}

@media screen and (max-width: 350px) {
    body {
        width: 100%;
    }

    

}

#imgDesc, #unsplash {
    color: white;
    font-size: 14pt;
}

